# Part 1

In [13]:
import pandas as pd

In [2]:
with open('input.txt', 'r') as f:
    t0_str, busses_str = [line for line in f]

In [5]:
t0 = int(t0_str.strip())
t0

1000053

In [9]:
bus_ids = [int(bus_id) for bus_id in busses_str.strip().split(',') if bus_id != 'x']
bus_ids

[19, 37, 523, 13, 23, 29, 547, 41, 17]

In [12]:
bus_next_arrivals = []
for bus in bus_ids:
    arr = 0
    while arr < t0:
        arr+=bus
    bus_next_arrivals.append(arr)
bus_next_arrivals

[1000065,
 1000073,
 1000499,
 1000064,
 1000063,
 1000065,
 1000463,
 1000072,
 1000059]

In [14]:
df = pd.DataFrame({'bus_id':bus_ids,'arr':bus_next_arrivals})

In [15]:
df['wait'] = df['arr'] - t0

In [19]:
df.sort_values('wait', inplace=True)
df

   bus_id      arr  wait
8      17  1000059     6
4      23  1000063    10
3      13  1000064    11
0      19  1000065    12
5      29  1000065    12
7      41  1000072    19
1      37  1000073    20
6     547  1000463   410
2     523  1000499   446

In [26]:
df[['bus_id', 'wait']].iloc[0].prod()

102